<template>
<div>
    <form @submit.prevent="submit">
          <h3>Add comment:</h3>
          <div class="form-group">
                <textarea v-model="newComment.content" 
                    id="content" 
                    name="content" 
                    class="form-control"
                    placeholder="Type your comment here"
                    v-validate="'max:1000'"
                    required
                />
                <div v-if="err" class="alert alert-warning">{{ errors.first('content') }}</div>
            </div>
                <input type="submit" value="Comment" class="btn btn-success" />
      </form>
</div>
</template>

<script>
import { galleryService } from "../service/GalleryService";
export default {
  data() {
    return {
      newComment: { content: "" },
      err: false
    };
  },
  methods: {
    submit() {
      galleryService
        .addComment(this.newComment, this.$route.params.id)
        .then(response => {
          this.$emit("onComment");
          this.newComment = { content: "" };
          this.err = false;
        })
        .catch(() => {
          this.err = true;
        });
    }
  }
};
</script>
