<template>
    <div class="container">
        <form @submit.prevent="storeGallery">
          <h2>{{this.$route.params.id ? 'Edit gallery' : 'Add new gallery'}}</h2>
            <div class="form-group">
                <label for="name">Gallery name</label>
                <input v-model="galleryForm.name" 
                    type="text" 
                    id="name" 
                    name="name" 
                    class="form-control" 
                    placeholder="Name of new gallery"
                    v-validate="'required|min:2|max:225'"
                    required
                />
                <div v-if="errors.first('name')" class="alert alert-warning">{{ errors.first('name') }}</div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea v-model="galleryForm.description" 
                    type="text" 
                    id="description" 
                    name="description" 
                    class="form-control"
                    placeholder="Description of new gallery"
                    v-validate="'required|max:1000'"
                    required
                />
                <div v-if="errors.first('description')" class="alert alert-warning">{{ errors.first('description') }}</div>
            </div>

            <!-- Add input dinamicly -->
            <div class="form-group">
                <section class="Form__section">
                    <div class="containe" v-for="(image, key) in imageUrl" :key="key">
                        <div class="form-group">
                            <input v-model="image.imageUrl" type="text" :name="key" class="form-control" placeholder="Image Url" required>
                            <button class="btn btn-danger" @click="deleteImageUrl(image, key)" :disabled="imageUrl.length < 2">Delete image</button>
                            <button class="btn btn-primary" @click="pushUp(key)" :disabled="key === 0">Push up</button>
                            <button class="btn btn-warning" @click="pushDown(key)" :disabled="key === imageUrl.length - 1">Push down</button>
                        </div>
                    </div>
                    <button class="btn btn-secondary" @click="addImageUrl">Add next image</button>
                </section>
            </div>


            <div v-for="(error, key) in backendErrors" :key="key" v-if="error" class="alert alert-danger">
              <ul v-for="(oneError, key) in error" :key="key">
                <li>{{oneError}}</li>
              </ul>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" />
                <button class="btn btn-danger" @click="backToGallery">Cancel</button>
            </div>
      </form>
    </div>
</template>

<script>
import { galleryService } from "../service/GalleryService";
import Vue from "vue";
export default {
  data() {
    return {
      galleryForm: {
        name: "",
        description: "",
        imageUrl: []
      },
      backendErrors: [],
      imageUrl: [{ imageUrl: "" }]
    };
  },
  methods: {
    storeGallery() {
      this.galleryForm.imageUrl = this.imageUrl.map(url => url.imageUrl);
      if (!this.$route.params.id) {
        galleryService
          .store(this.galleryForm)
          .then(() => {
            this.$router.push({ name: "galleries" });
          })
          .catch(backendErrors => {
            this.backendErrors = backendErrors.response.data;
          });
      } else {
        galleryService
          .edit(this.$route.params.id, this.galleryForm)
          .then(() => {
            this.$router.push({
              name: "show-galery",
              props: { id: this.$route.params.id }
            });
          })
          .catch(backendErrors => {
            this.backendErrors = backendErrors.response.data;
          });
      }
    },
    addImageUrl(e) {
      e.preventDefault();
      this.imageUrl.push({
        imageUrl: ""
      });
    },
    deleteImageUrl(image, key) {
      event.preventDefault();
      this.galleryForm.imageUrl.splice(key, 1);
      this.imageUrl.splice(this.imageUrl.indexOf(image), 1);
    },
    pushUp(key) {
      event.preventDefault();
      let element = this.imageUrl.splice(key, 1);
      this.imageUrl.splice(key - 1, 0, element[0]);
    },
    pushDown(key) {
      event.preventDefault();
      let element = this.imageUrl.splice(key, 1);
      this.imageUrl.splice(key + 1, 0, element[0]);
    },
    backToGallery() {
      event.preventDefault();
      this.$router.push({ name: "galleries" });
    }
  },
  created() {
    if (this.$route.params.id) {
      galleryService.getOne(this.$route.params.id).then(response => {
        this.galleryForm = response.data.gallery;
        this.imageUrl = response.data.gallery.images;
        this.galleryForm.imageUrl = this.imageUrl.map(url => url.imageUrl);
      });
    }
  }
};
</script>