<template>
<div class="container">
    <v-dialog/>
    <div class="card text-center w-100">
        <div class="card-header">
            <i>created by:</i> {{gallery.user.firstName}} {{gallery.user.lastName}}
            <!-- console error here ^ -->
        </div>
        <div class="card-body">
            <h5 class="card-title">{{gallery.name}}</h5>
            <p class="card-text">{{gallery.description}}</p>
            <!-- carousel start -->
            <b-carousel id="carousel1"
                controls
                indicators
                :interval="4000"
                img-width="1024"
                img-height="480"
            >
            <div v-for="(image, key) in gallery.images" :key="key">
                <a :href="image.imageUrl"><b-carousel-slide  :img-src="image.imageUrl" style="width:100%; max-height:480px"/></a>
            </div>
            </b-carousel>
            <!-- carousel end -->
        </div>
        <div class="card-footer text-muted">
            <i>created at: </i>{{gallery.created_at | formatDate}}
            <button v-if="isOwner()" class="btn btn-sm btn-outline-dark float-right" @click="deleteThisGallery(gallery.id)">Delete this gallery</button>
            <router-link v-if="isOwner()" class="btn btn-sm btn-outline-info float-right mr-2" :to="{name: 'edit-gallery', props: {id: gallery.id}}">Edit this gallery</router-link>
        </div>
    </div>
    <div class="float-left w-100">
      <comment-add @onComment="commentRefresh" v-if="isAuth"/>
      <h3>Comments:</h3>
      <ul v-for="(comment, key) in gallery.comments" :key="key">
        <li class="float-left mt-2 w-100">
          <b>{{comment.user.firstName}} {{comment.user.lastName}}</b> - {{comment.content}} 
          <button v-if="isCommentOwner(comment.user_id)" class="btn btn-sm btn-danger float-right" @click="deleteComment(comment.id)">Delete comment</button> 
          <p class="floar-right"><i>{{comment.created_at | diffForHumans}}</i></p>
          <hr>
        </li>
      </ul>
    </div>
</div>
</template>

<script>
import { galleryService } from "../service/GalleryService";
import { DateMixin } from "../Mixins";
import { mapGetters } from "vuex";
import CommentAdd from "./CommentAdd";
export default {
  mixins: [DateMixin],
  components: {
    CommentAdd
  },
  data() {
    return {
      gallery: [],
      authId: ""
    };
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      galleryService.getOne(vm.$route.params.id).then(response => {
        vm.gallery = response.data.gallery;
        vm.authId = response.data.user_id;
      });
    });
  },
  methods: {
    isOwner() {
      if (this.authId === this.gallery.user.id) return true;
      else return false;
    },
    isCommentOwner(commentId) {
      if (this.authId === commentId) return true;
      else return false;
    },
    deleteThisGallery(id) {
      galleryService.deleteGallery(id).then(() => {
        this.$router.push({ name: "galleries" });
      });
    },
    deleteComment(id) {
      this.$modal.show("dialog", {
        title: "Warning",
        text:
          "This operation will delete comment permanently. Are you sure you want to continue?",
        buttons: [
          {
            title: "Delete",
            default: true,
            handler: () => {
              galleryService.deleteComment(id).then(() => {
                this.commentRefresh();
                this.$modal.hide("dialog");
              });
            }
          },
          {
            title: "Cancel"
          }
        ]
      });
    },
    commentRefresh() {
      galleryService.getOne(this.$route.params.id).then(response => {
        this.gallery = response.data.gallery;
      });
    }
  },
  computed: {
    ...mapGetters({
      currentUser: "getAuthUserId",
      isAuth: "getIsAuthenticated"
    })
  }
};
</script>
