<template>
    <galleries-master :galleries="galleries"/>
</template>

<script>
import GalleriesMaster from "./GalleriesMaster";
import { mapGetters, mapActions } from "vuex";
export default {
  components: {
    GalleriesMaster
  },
  methods: {
    ...mapActions(["fetchGalleries"])
  },
  computed: {
    ...mapGetters({
      galleries: "getGalleries"
    })
  },
  created() {
    this.fetchGalleries();
  }
};
</script>