<template>
    <div class="container">
        <h3 v-if="currentTerm"> Search for: "{{currentTerm}}"</h3>
        <div v-if="filteredGalleries.length === 0" class="mt-5 ml-5">
            <h3>Nothing to show right now...</h3>
        </div>
        <div v-else>
        <paginate
          name="galleries"
          :list="filteredGalleries"
          :per="10"
        >
        <li  class="card mr-4 mt-4" v-for="(gallery, key) in paginated('galleries')" :key="key">
            <img class="card-img-top contain" :src="gallery.images[0].imageUrl" alt="Card image cap">
            <div class="card-body">
                <router-link :to="{ name: 'show-galery', params:{id: gallery.id}}"><h5 class="card-title">{{gallery.name}}</h5></router-link>
                <p class="card-text"><i>created by:</i> <router-link :to="{name: 'users-gallery', params:{id: gallery.user.id}}">{{gallery.user.firstName}} {{gallery.user.lastName}}</router-link></p>
                <p class="card-text"><i>created at:</i> {{gallery.created_at | formatDate}}</p>
              </div>
        </li>
        </paginate>
        <paginate-links class="border border-info" for="galleries" :simple="{
        next: 'Next »',
        prev: '« Back'
        }"></paginate-links>
        </div>
      </div>
</template>

<script>
import { mapGetters } from "vuex";
import { DateMixin } from "../Mixins";
export default {
  name: "GalleriesApp",
  mixins: [DateMixin],
  props: ["galleries"],
  data() {
    return {
      paginate: ["galleries"]
    };
  },
  methods: {
    filterByField(field) {
      return field.toUpperCase().indexOf(this.currentTerm.toUpperCase()) > -1;
    }
  },
  computed: {
    ...mapGetters({
      currentTerm: "getSearchTerm",
      currentUser: "getAuthUserId"
    }),
    filteredGalleries() {
      return this.galleries.filter(gallery => {
        return (
          this.filterByField(gallery.description) ||
          this.filterByField(gallery.name) ||
          this.filterByField(gallery.user.firstName) ||
          this.filterByField(gallery.user.lastName)
        );
      });
    }
  }
};
</script>

<style>
.card {
  width: 20rem;
  display: inline-block;
}
img {
  width: 300px;
  height: 300px;
}
/* pagination */
a {
  cursor: pointer;
}
li.next:before {
  content: " | ";
  margin-right: 13px;
  margin-left: 13px;
}
li.disabled a {
  cursor: no-drop;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
</style>