<template>
  <div class="container mt-4">
    <form class="form-signin" @submit.prevent="login">
      <h2 class="form-signin-heading">Please login</h2>
      <input v-model="email" v-validate="'required|email'" type="text" class="form-control" name="email" placeholder="Email Address" autofocus />
      <div v-if="errors.first('email')" class="alert alert-warning">{{ errors.first('email') }}</div>
      <input v-model="password" v-validate="'required'" type="password" class="form-control" name="password" placeholder="Password" required/>
      <div v-if="errors.first('password')" class="alert alert-warning">{{ errors.first('password') }}</div>
      <div v-if="backendError" class="alert alert-danger">
        {{backendError}}
      </div>
      <button class="btn btn-lg btn-primary btn-block" :disabled="isButtonDisabled" type="submit">Login</button>
    </form>
  </div>
</template>

<script>
import { authService } from "../service/AuthService";
import { mapMutations } from "vuex";
export default {
  data() {
    return {
      email: "",
      password: "",
      backendError: ""
    };
  },
  computed: {
    isButtonDisabled() {
      return this.errors.length > 0;
    }
  },
  methods: {
    ...mapMutations(["setIsAuthenticated", "setAuthUserId"]),
    login() {
      authService
        .login(this.email, this.password)
        .then(response => {
          this.$router.push({ name: "galleries" });
          this.setIsAuthenticated(true);
          this.setAuthUserId(response.data.user.id);
        })
        .catch(error => {
          this.backendError = error.response.data.error;
        });
    }
  }
};
</script>