<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <router-link class="navbar-brand" to="/">Galleries</router-link>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <router-link class="nav-link" to="/galleries">All galleries</router-link>
          </li>
          <li class="nav-item" v-if="isAuth">
            <router-link class="nav-link" to="/my-galleries">My galleries</router-link>
          </li>
          <li class="nav-item" v-if="isAuth">
            <router-link class="nav-link" to="/create">Create new Gallery</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-item nav-link" to="/login" v-if="!isAuth">Login</router-link>
            <a href="" class="nav-item nav-link" @click="logout" v-if="isAuth">Logout</a>
          </li>
          <li class="nav-item">
            <router-link class="nav-item nav-link" to="/register" v-if="!isAuth">Register</router-link>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <b-input class="form-control mr-sm-2" placeholder="Search galleries" aria-label="Search" @input="setSearchTermChange" />
        </form>
    </nav>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
import { authService } from "../service/AuthService";
export default {
  name: "NavBar",
  props: {},
  methods: {
    ...mapMutations(["setSearchTerm", "setIsAuthenticated"]),
    setSearchTermChange(term) {
      this.setSearchTerm(term);
    },
    logout() {
      authService.logout();
      this.setIsAuthenticated(false);
    }
  },
  computed: {
    ...mapGetters({
      isAuth: "getIsAuthenticated"
    })
  }
};
</script>