<template>
    <div class="container mt-4">
    <form class="form-signin" @submit.prevent="register">
      <h2 class="form-signin-heading">Register here:</h2>
      <input v-model="firstName" type="text" class="form-control" name="firstName" placeholder="First Name" autofocus />
      <input v-model="lastName" type="text" class="form-control" name="lastName" placeholder="Last Name" />
      <input v-model="email" type="text" class="form-control" name="email" placeholder="Email Address" />
      <input v-model="password" type="password" class="form-control" name="password" placeholder="Password" />
      <input v-model="password_confirmation" type="password" class="form-control" name="password_confirmation" placeholder="Confirm password" />
      <div class="alert alert-info">The password must have at least 8 characters and contains at least one digit.</div>
      <div class="border border-info p-2">
        <input type="checkbox" id="terms" name="terms" value="accepted" required />
        <label class="ml-3" for="subscribeNews">Accepted terms and conditions</label>
      </div>
      <div v-for="(error, key) in backendErrors" :key="key" v-if="error" class="alert alert-danger">    
        <ul v-for="(oneError, key) in error" :key="key">
          <li>{{oneError}}</li>
        </ul>
      </div>
      <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Register</button>
    </form>
  </div>
</template>

<script>
import { authService } from "../service/AuthService";
export default {
  data() {
    return {
      firstName: "",
      lastName: "",
      email: "",
      password: "",
      password_confirmation: "",
      backendErrors: ""
    };
  },
  methods: {
    register() {
      authService
        .register(
          this.firstName,
          this.lastName,
          this.email,
          this.password,
          this.password_confirmation
        )
        .then(() => {
          this.$router.push("/galleries");
        })
        .catch(error => {
          this.backendErrors = error.response.data;
        });
    }
  }
};
</script>